<template name="about">

    <h2>About</h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur diam sed ipsum hendrerit finibus. Aenean purus leo, tristique at erat a, viverra consequat lacus. Nulla imperdiet convallis dapibus. Vivamus blandit at sapien at feugiat. Morbi volutpat pellentesque ligula. Vestibulum ac iaculis orci. Nunc tincidunt augue eget metus porta, ac vehicula ipsum fermentum. Phasellus ut pellentesque libero, id dapibus augue. Suspendisse id porta velit. Quisque aliquet faucibus pellentesque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    <p>Sed vitae ante accumsan, consequat velit id, posuere libero. Phasellus enim arcu, fermentum hendrerit tristique nec, feugiat tempus justo. Etiam pellentesque, augue vel gravida gravida, ipsum ipsum feugiat urna, ac condimentum arcu turpis nec odio. Nam lacus est, aliquam a tortor ut, ultricies posuere ligula. Integer varius accumsan porttitor. Fusce feugiat ornare semper. Donec sed nunc id neque ullamcorper scelerisque. Integer ultrices sapien in bibendum finibus.</p>
    
    <p class="glyphicon glyphicon-equalizer"></p>
    
    <style>
    .footer {
        position: absolute;
    }
    </style>
    
</template>