<template name="login">
    <form class="form-inline">        
        <div class="form-group">
            <label for="screen-name"></label>
            <input type="text" class="form-control" id="screen-name" name="screen-name" placeholder="Screen Name" required>
        </div>
        <div class="form-group">
            <label for="pwd"></label>
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">ENTER</button>
    </form>
    
    <style>
    .footer {
        position: absolute;
    }
    </style>
</template>